schema done
table users with email password role done
3 associations type done
model and migration done
add column migration done
seeder done

2 route get and 1 route post done
route logout odone

search feature done
static method or getter done
validasi done
crud method done
hooks done
helper done
PROMISE CHAINING NOT DONE

landing page done
register & login done
eager loading done

login system done
MVP done (multer)