<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!-- component -->
  <!-- component -->
  <!-- component -->
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer="" src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>

    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css"> -->
  </head>

  <body class="bg-gray-50" style="">

    <div class="min-h-full">
      <nav class="bg-gray-800 w-full">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center ">

              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                    aria-current="page">Home</a>
                  <a href="#"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">My
                    info</a>
                  <a href="#"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Employees</a>
                  <a href="#"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Pricing</a>
                  <a href="#"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Blogs</a>
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <div class="ml-4 flex items-center md:ml-6 w-max">

                <div class="relative ml-3">

                  <div class="md:block lg:block sm:hidden max-w-md mx-auto">
                    <div
                      class="relative  flex items-center w-full h-8 border border-gray-500 rounded-sm  bg-gray-600 overflow-hidden">
                      <div class="grid place-items-center w-12 bg-gray-600 text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 bg-gray-600" fill="none"
                          viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                      </div>

                      <input class="bg-gray-600 outline-none text-sm text-gray-300 pr-2" type="text" id="search"
                        placeholder="Search song.." />
                    </div>
                  </div>
                </div>
                <div class="flex">
                  <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                    aria-current="page">Logout</a>
                </div>
      </nav>
    </div>
  </body>

  </html>
</body>

</html>